.friendList{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.listItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 120px;
border: 1px solid black;
border-radius: 6px;
line-height: 1.5;
letter-spacing: 0.02em;
}